<template>
    <section>
        <navbar></navbar>
        <div class="container">
            <router-view></router-view>
        </div>

    </section>
</template>

<script>
    import Navbar from "./Navbar";

    export default {
        name: "LightApp",
        components: {
            navbar: Navbar
        }
    }
</script>

<style scoped>

</style>
