<template>
    <section>

        <div class="card">
            <div class="card-header">Product List</div>
            <div class="card-body" v-if="loader">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>

            <div class="card-body" v-else>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(product,index) of products">
                        <th scope="row">{{ index + 1 }}</th>
                        <td><p>{{ product.name }} <small class="d-block">{{ product.sku }}</small></p></td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.availability}}</td>
                        <td>
                            <router-link :to="{ name : 'product', params : {id : product.id}  }"><i class="fa fa-eye"></i> View</router-link>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </section>
</template>

<script>
    export default {
        name: "Home",
        data() {
            return {
                loader: true,
                products: [],
                meta: '',
            }
        },
        methods: {
            getProducts() {
                axios.get(`/vue/all-product`).then(response => {
                    this.products = response.data.data;
                    this.meta = response.data.meta;

                }).catch(e => {
                    // console.error(e);
                }).finally(() => {
                    this.loader = false;
                })
            }
        },
        mounted() {
            console.log(this.$route);
            this.getProducts();
        }
    }
</script>

<style scoped>

</style>
